@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #5D26C1;
  background: -webkit-linear-gradient(to bottom, #5D26C1, #a17fe0, #59C173);  
  background: linear-gradient(to bottom, #5D26C1, #a17fe0, #59C173);
  min-height: 100vh;
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.main {
  min-width: 480px;
  max-width: 928px;
  width: 100%;
  height: fit-content;
  margin: auto;
  padding: 20px 10px;
  box-shadow: 0 0 12px #0000003f;
  background: #ffffff87;
  grid-column-start: 2;
}
.header {
  margin: 0 0 24px;
  color: #ffffff;
  text-align: center;
}
.note {
  max-width: 736px;
  width:100%;
  margin: 0 auto 24px;
  text-align: center;
  color: #ffffff;
}
.textarea {
  max-width: 736px;
  width:100%;
  margin: 0 auto;
  position: relative;
  &__input {
  width:100%;
  min-height: 312px;
  padding: 10px;
  }
  &__questions {
  width: fit-content;
  padding: 10px;
  margin: 0;
  font-size: 12px;
  list-style: none;
  background: lemonchiffon;
  position: absolute;
  display: none;
}}
.list-item {

}
.buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  margin-right: 88px;
}
.button-load {

}
.button-save{

}
.prompt {
  width: fit-content;
  padding: 8px;
  font-size: 12px;
  background: lemonchiffon;
}